<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Путь к папке с файлами -->
    <add key="FilesFolder" value="C:\_files_iis\files" />
    <!-- Секрет для HMAC -->
    <add key="HmacSecret" value="SUPER_SECRET_123" />
    <!-- Разрешённый IP (опционально) -->
    <add key="AllowedIP" value="46.235.72.148,178.88.184.82" />
    <!-- Разрешённый домен (опционально) -->
    <!-- <add key="AllowedDomain" value="api.cocrealty.biz" /> -->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="2097151" />
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" uiCulture="en-US" />
  </system.web>
  
  <location path="." inheritInChildApplications="false" />
  
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <clear />
      </rules>
    </rewrite>
    <handlers>
      <clear />
      <add name="ASHX" 
           path="*.ashx" 
           verb="*" 
           type="System.Web.UI.SimpleHandlerFactory, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           resourceType="Unspecified"
           preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PageHandlerFactory-Integrated"
           path="*.aspx"
           verb="*"
           type="System.Web.UI.PageHandlerFactory"
           resourceType="Unspecified"
           requireAccess="Script"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
